body {
  margin: 0;
  font-family: Arial, sans-serif;
 
  padding-top: 120px;
}

.content-wrapper {
  padding: 100px;
  display: flex;
  justify-content: space-between; /* Spaces out the text and the image */
  align-items: flex-start; /* Aligns items to the top */
  padding: 20px 40px;
  background: linear-gradient(90deg, rgba(116, 134, 255, 1) 0%, rgba(241, 241, 255, 1) 100%);
  color: white;
}

.welcome-section {

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-size: 36px;
  margin: 0;
  text-align: left;
}

h1 strong {
  font-weight: bold;
}

p {
  font-size: 18px;
  margin: 20px 0;
  text-align: left;
}

hr {
  width: 100px;
  margin: 20px 0;
  border: 1px solid #fff;
}

a {
  color: white;
  text-decoration: none;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px; /* Adjust as per your navbar height */
}

.image-section img {
  max-width: 29rem;
  height: 29rem;
  max-height: 100%; 
  border: gray;
  border-radius: 10px;  
}
